@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #041c2c;
  --primary: #BE7D60;
  --secondary: #041c2c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-forum: var(--font-forum);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-forum), serif;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}
